/*DEVELOPER: Aiden Kelly, IS117-002, Spring 2026 */

.content {
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-bottom: auto;
    margin-left:10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    text-align: center;
    gap: 30%;
}

label {
 display: inline-flex;
 margin-bottom: 2%;
}

form {
  text-align: center;
  
}
.formrow {
  display: flex;
  gap: 2%;
  
}

.formgroup {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 2%;
}


#message {
  justify-content: center;
}


@media screen and (width <= 550px) {
    .content {
      padding-left: 0;
      justify-content: center;
    }
    label {
      all:initial;
    }

    form {
      all:initial;
    }
    
    .formrow {
      all:initial;
    }

    .formgroup {
      all:initial;
    }
}

@media screen and (width <= 390px) {
    .formgroup input {
      width: 5vh;
    }
}


@media screen and (width > 390px) and (width < 1200px)  {
    .formgroup input {
      width: 10vh;
    }
}


@media screen and (width >= 1200px) {
    .formgroup input {
      width: auto;
    }
}