
/* nav bar thangs */

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-bottom: 0.5%;
}

.navbar {
    background: gray;
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    margin: 5px;
}

.navbar ul li {
    height: auto;
    width: 120px;
    padding: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.active, .navbar ul li:hover {
    background-color: lightslategray;
    border-radius: 2px;
}

.dropdown {
    display: none;
} 

.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: red;
    margin-top: 15px;
    margin-left: -15px;
}

.navbar ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
    padding: 0;
    margin: 0;
    float:left;

}


/* shared thangs*/


content {
    margin-top: 50px;
}

.container {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
      justify-content: space-between;
}

.footer {
    text-align: center;
}
