/*DEVELOPER: Aiden Kelly, IS117-002, Spring 2026 */

/* nav bar thangs */

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-bottom: 0.5%;
    z-index: 999;
}

.navbar {
    background: #8fcdff;
    text-align: center;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    margin: 3px;
    padding-left: 0;
}

.navbar ul li {
    height: auto;
    width: 120px;
    padding: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.active, .navbar ul li:hover {
    background-color: rgb(63, 96, 179);
    border-radius: 1px;
}

.dropdown {
    display: none;
} 

.navbar ul li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #4991cd;
    margin-top: 15px;
    margin-left: -15px;
}

.navbar ul li:hover .dropdown ul {
    display: block;
    margin: 10px;
    padding: 0;
    margin: 0;
    float:left;

}


.hamb {
    display:none;
}
.side-menu {
    display: none;
}


@media screen and (width < 1200px) {  
    .nav {
        display: none;
    } 
    .navbar {
        overflow: hidden;
    }
    .navbar ul {
        display: block;
    }
    .navbar ul li:hover .dropdown {
        display: block;
        position: absolute;
        margin-left: 15px;
    }

    .hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    color: white;

} 

/* Toggle menu icon */
.side-menu:checked ~ .nav{
    max-height: 100%;
    display: block;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

body:has(.side-menu:checked) {
  overflow: hidden;
}

.dropdown {
	position: absolute;
}

}


/* shared thangs*/


content {
    margin-top: 50px;
}

.container {
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0px;
    height: 30px;
    background-color: #8fcdff;
    color:white;
    font-family: "sausage";
    font-weight: 150;

}

h1,h3 {
    font-family: "sausage";
    font-weight: 300;
}

header{
    color:rgb(12, 0, 23);
    font-family: "sausage";
    font-weight: 200;    
}

body {
    background-color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-family: "houschka-rounded";
    font-weight: 500;
}

label {
    font-family: "houschka-rounded";
    font-weight: 500;
}

button {
    font-family: "houschka-rounded";
    font-weight: 500;
    background-color: rgb(63, 96, 179);
    color: white;
    border-radius: 2px;
    border-color: rgb(44, 75, 153);
}

img {
    border: 5px solid #74baff;
}

a {
    color: white;
}