/* this whole thing is just for screen sizes and images */


/* mobile styling */
@media screen and (width <= 390px){
    .desktop-ready {
        display: none;
    }

    .tablet-ready {
        display: none;
    }

    .mobile-ready {
        display: block;
        height: 90%;
        max-width: 75%;
        margin: auto;
    }

    #calltoaction-index.desktop-ready {
        display: none;
    }

    #calltoaction-index.tablet-ready {
        display: none;
    }

    #calltoaction-index.mobile-ready {
        max-height: 50%;
        max-width: 35%;
        margin-left: 60%;
        display: flex;
        flex-direction: row-reverse;
    }
}

/* tablet styling. between desktop sizes and mobile sizes */
@media screen and (width > 390px) and (width < 1280px) {
    .desktop-ready {
        display: none;
    }

    .tablet-ready {
        display: block;
        height: 90%;
        max-width: 75%;
        margin: auto;
    }

    #calltoaction-index.desktop-ready {
        display: none;
    }

    #calltoaction-index.tablet-ready {
        max-height: 50%;
        max-width: 35%;
        margin-left: 60%;
        display: flex;
        flex-direction: row-reverse;
    }

    #calltoaction-index.mobile-ready {
        display: none;
    }

    .mobile-ready {
        display: none;
    }
}

/* desktop styling */ /* probably change width back to 1280 after all is said and done?*/
@media screen and (width >= 1200px){
    .desktop-ready {
        display: block;
        height: 90%;
        max-width: 75%;
        margin: auto;
    }

    .tablet-ready {
        display: none;
    }

    .mobile-ready {
        display: none;
    }

    #calltoaction-index.desktop-ready {
        max-height: 50%;
        max-width: 35%;
        margin-left: 60%;
        display: flex;
        flex-direction: row-reverse;
    }

    #calltoaction-index.tablet-ready {
        display: none;
    }
}
